/*/////////////////////////////*/
/*[ REBOOT SOME DEFULT STYLE ]*/
/*///////////////////////////*/
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none !important;
    list-style: none;
}


/* Make nerrow and custom color scrollbar */
::-webkit-scrollbar {
    /* scrollbar width */
    width: 8px;
    height: 0px;
}
@media (max-width: 500px) {
    ::-webkit-scrollbar {
        width: 0px;
    }
}

::-webkit-scrollbar-track {
    /* scrollable area background */
    background: rgba(241, 241, 241, 0.22);
}

::-webkit-scrollbar-thumb {
    /* Make scroller thumb or scroll controller background */
    background: #7b7b7b;
    // border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
    /* scroll controller hoverd background */
    background: #929292;
}

::-webkit-scrollbar-thumb:active {
    /* scroll controller active background */
    background: #646461;
}

/* ------------------------------------ */

/* ------------------------------------ */
article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
div,
section {
    display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 5px;
}

p {
    margin-bottom: 5px;
}

ol,
ul,
dl {
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
}

img {
    width: 100%;
    height: auto;
    border-style: none;
}

ol ol,
ul ul,
ol ul,
ul ol {
    margin-bottom: 0;
}

blockquote {
    margin: 0 0 1rem;
}

a {
    color: #4285f4;
    text-decoration: none;
}

a:not([href]):not([tabindex]):hover,
a:not([href]):not([tabindex]):focus {
    color: inherit;
    text-decoration: none;
}

label {
    font-size: 1rem;
    user-select: none;
}

button,
input,
optgroup,
select,
textarea {
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

button,
input {
    border: none;
    overflow: visible;
}

button,
select {
    text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}

button {
    border: none;
    outline: none;
    user-select: none;
    cursor: pointer;

    &:hover,
    &:active,
    &:focus {
        border: none;
        outline: none;
    }
}

body {
    background: #f0f0f0;
    font-size: 16px;
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif;
}


.loader {
    position: relative;
    padding-right: 25px !important;
    pointer-events: none;

    &.grayscale {
        filter: grayscale(1);
    }

    &::after {
        content: '';
        display: block;
        width: 14px;
        height: 14px;
        border-radius: 50%;
        border: 1px solid;
        border-right-color: transparent !important;
        position: absolute;
        right: 5px;
        top: calc(50% - 7px);
        transform-origin: 50%, 50%;
        animation: loader 1s linear infinite;
    }
}



@keyframes loader {
    0% {
        transform: rotateZ(0deg);
    }

    100% {
        transform: rotateZ(360deg);
    }
}
 



/* ------------------------------------ */

// @import "components/layout";
$transition: all 0.2s ease-in-out;

:root {
    --pre_theme_1: radial-gradient(circle at center 75%, rgb(255, 107, 0) 0%, rgb(255, 199, 0) 100%);
    --pre_theme_2: radial-gradient(circle at center 75%, rgb(0, 82, 205) 0%, rgb(0, 161, 230) 50%, rgb(0, 82, 205) 100%);
    --pre_theme_3: radial-gradient(circle at center 75%, rgb(159, 213, 45) 0%, rgb(0, 191, 145) 50%, rgb(42, 127, 227) 100%);
    --pre_theme_4: radial-gradient(circle at center 75%, rgb(40, 37, 181) 0%, rgb(51, 18, 144) 50%, rgb(94, 0, 126) 100%);
    --pre_theme_5: radial-gradient(circle at center 75%, rgb(58, 29, 138) 0%, rgb(132, 29, 213) 50%, rgb(251, 69, 222) 100%);
    --pre_theme_6: radial-gradient(circle at center 75%, rgb(58, 18, 255) 0%, rgb(255, 46, 46) 50%, rgb(250, 175, 0) 100%);
    --pre_theme_9: radial-gradient(circle at center 75%, #f9005a 0%, #ff0d9e 100%);
    --pre_theme_10: radial-gradient(circle at center 75%, rgb(247, 178, 103) 0%, rgb(244, 132, 95) 50%, rgb(242, 92, 84) 100%);
    --pre_theme_11: radial-gradient(circle at center 75%, rgb(142, 22, 210) 0%, rgb(0, 49, 241) 50%, rgb(0, 246, 158) 100%);
    --pre_theme_12: linear-gradient(to top, #1e5799 0%, #f9005a 50%, #ff0d9e 100%);
    --pre_theme_13: radial-gradient(circle at center 75%, rgb(0, 128, 255) 0%, rgb(170, 0, 255) 100%);
    --pre_theme_14: radial-gradient(circle at center 75%, rgb(217, 169, 0) 0%, rgb(170, 50, 50) 50%, rgb(85, 0, 41) 100%);
}
:root {
    --theme_1: linear-gradient(to top, rgb(255, 107, 0) 30%, rgb(255, 199, 0) 100%);
    --theme_2: linear-gradient(to top, #0052cd 0%, #00a1e6 50%, #0052cd 100%);
    --theme_3: linear-gradient(to top, rgb(159, 213, 45) 0%, rgb(0, 191, 145) 50%, rgb(42, 127, 227) 100%);
    --theme_4: linear-gradient(to top, rgb(40, 37, 181) 0%, rgb(51, 18, 144) 50%, rgb(94, 0, 126) 100%);
    --theme_5: linear-gradient(to top, rgb(58, 29, 138) 0%, rgb(132, 29, 213) 50%, rgb(251, 69, 222) 100%);
    --theme_6: linear-gradient(to top, rgb(58, 18, 255) 0%, rgb(255, 46, 46) 50%, rgb(250, 175, 0) 100%);
    --theme_9: linear-gradient(to top, #f9005a 0%, #ff0d9e 100%);
    --theme_10: linear-gradient(to top, rgb(247, 178, 103) 0%, rgb(244, 132, 95) 50%, rgb(242, 92, 84) 100%);
    --theme_11: linear-gradient(to top, rgb(142, 22, 210) 0%, rgb(0, 49, 241) 50%, rgb(0, 246, 158) 100%);
    --theme_12: linear-gradient(to top, #1e5799 0%, #f9005a 50%, #ff0d9e 100%);;
    --theme_13: linear-gradient(to top, rgb(0, 128, 255) 0%, rgb(170, 0, 255) 100%);
    --theme_14: linear-gradient(to top, rgb(217, 169, 0) 0%, rgb(170, 50, 50) 50%, rgb(85, 0, 41) 100%);
    --facebook: #1D3C78;
}
:root {
    --left_aside: 320px;
    --left_aside_m: -320px;
    --right_aside: 300px;
    --right_aside_m: -300px;
    --chat_header_height: 60px;
    --chat_img_width: 30px;
}

// color mode control root 
:root {
    --border_color: rgba(0, 0, 0, 0.1);
    --surface_bg: #fff; 
    --l_gr: #f0f2f5;
    --l_gr_active: #dae0e9;
    --txt_on_light: #333942;
    --header_shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    --hover_bg: #2d88ff1a;
    --red: #E91E63;
    --dark-on-light: #333942;
}

.dark_mode {
    --surface_bg: #000;
    --txt_on_light: #eee;
    --dark-on-light: #fafafa;
    --l_gr_active: rgba(251, 251, 251, 0.2);
    --l_gr: rgba(251, 251, 251, 0.2);
    --border_color: rgba(255, 255, 255, 0.16);
    --header_shadow: 0 0 4px rgba(255, 255, 255, 0.4);
    --facebook: #333942;
    --hover_bg: #2d88ff61;
}
:root {
    --wash: #dae0e9;
    --web-wash: #F0F2F5;
    --comment-background: #F0F2F5;
}
dark_mode:root,
.dark_mode {
    --wash: #3E4042;
    --web-wash: #18191A;
    --comment-background: #3A3B3C;
}
// NL Button Start
.and {
    color: var(--red);
    background: #fff;
    font-weight: bold;
}
.nl {
    display: inline-block;
    font-size: 16px;
    margin: 5px 0;
    padding: 10px 20px;
    position: relative;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out, transform .01s ease-in-out;
    background: #EBEDF0;
    font-weight: 400;
    text-transform: capitalize !important;
    white-space: normal !important;
    word-wrap: break-word !important;
    text-decoration: none !important;
    color: #303338;
    text-align: center;
    user-select: none;
    vertical-align: middle;
    // box-shadow: 0 2px 4px rgba(0, 0, 0, .075) !important;
    border-radius: 4px;

    &:hover,
    &:focus {
        // box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
        // box-shadow: 0 4px 4px rgba(0, 0, 0, 0.16), 0 4px 10px rgba(0, 0, 0, 0.12);
        background: #DADDE1;
        text-decoration: none;
    }

    &:active {
        transform: scale(0.97);
    }

    &:last-child {
        margin-right: 0px;
    }

    &.disabled,
    &:disabled {
        opacity: 0.65;

        &:hover,
        &:focus,
        &:active {
            box-shadow: none !important;
        }

        cursor: not-allowed !important;
    }

    &.block {
        display: block;
        width: 100%;
    }
}
.nl {
    background: var(--l_gr_active);
    color: var(--txt_on_light); 
    &:hover,
    &:focus {
        background: var(--l_gr_active);
        color: var(--txt_on_light);
    }
}

.flex {
    display: flex;
}
.flex_center {
    display: flex;
    justify-content: center;
    align-items: center;
}

$right_aside_close: 1000px;
$left_aside_close: 768px;
.master {
    min-height: 100vh;
    display: flex;
    padding-left: var(--left_aside);
    padding-right: var(--right_aside);
    transition: $transition;
    @media (max-width: $right_aside_close) {
        padding-right: 0;
    }
    @media (max-width: $left_aside_close) {
        padding-left: 0;
    }
}

.go_focus {
    border: 4px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
    padding: 20px
}
svg {
    fill: var(--dark-on-light);
}
@import "components/left_aside";
@import "components/right_aside";
@import "components/messages";
// @import "components/top_nav";
// @import "components/nl_modal";
// @import "components/messages";

@keyframes c_effect {
    0% {
        transform: scale(0);
        transform-origin: bottom left;
        opacity: 0;
    } 
    100% {
        opacity: 1;
        transform: scale(1);
    }
}
@keyframes zoom_up {
    0% {
        transform: translateY(20px) scale(0.9);
        transform-origin: left;
        opacity: 0;
    } 
    100% {
        transform: translateY(0px) scale(1);
        opacity: 1;
    }
}